{% extends 'base.html' %}

{% block body %}
<h2>About</h2>
<div>
  <p> This is a teeny and simple webapp for choosing a random member of a group to
      give a presentation. </p>
  <p> To add members to the team, click the blue bar. </p>
  <p> To Remove members, click their name as it appears in one of the lists. You
    will be given the choice to remove them. </p>
  <p> To select a member to give a presentation, click the large grey button in
    the middle. If you accept them as the presenter, they will automatically be
    recorded as having presented. If you want to manually change whether a member
    is recorded as presented/not presented, click their name in the list they
    appear in. Then, simply click the large checkbox and update. If the checkbox
    is selected, the member is stored as hasaving presented.</p>
  <p> Occasionally, the page malfunctions and displays a JSON response instead
     of html. Simply navigate to /choose/ to remedy this.</p>
</div>
{% endblock %}
