<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">This week's presenter..</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{ newperson }} has been chosen for this week's presentation. Does that work?<p>
</div>
<div class="modal-footer">
  <form action=""">
  <button id="no" type="submit" class="btn btn-danger">No.</button>
  <a id="yes" type="submit"
          href="{% url 'person_present' newperson.id %}"
          class="btn btn-secondary js-person-present">Yup!</a>
  </form>
</div>
